name: deploy

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
      # with:
      #   submodules: true

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2.3.0
      with:
        hugo-version: '0.59.1'
        # extended: true

    - name: Build
      run: hugo --minify

    - name: Deploy
      uses: maxheld83/rsync@v0.1.1
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}        
        HOST_NAME: bookchin.seattlefoodnotbombs.org
        HOST_IP: 206.189.64.192
        HOST_FINGERPRINT: "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFv3daIIc+SmkygG8cQjd/7bskGXXvnm3Nf6tmCTYvThdApVC0Dz+7y7AD6RYSdmXq5+r60MMyQpelDgao2aLgI="
      with: 
        args: "$GITHUB_WORKSPACE/public/ fnbdeploy@$HOST_NAME:/opt/web/sites/seattlefoodnotbombs.org/"
